.glass-loader-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 2px 20px;
  margin: 15px auto;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px) saturate(160%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  user-select: none;
  width: fit-content;
}

.glass-text-loading {
  display: flex;
  gap: 2px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.loading-char {
  display: inline-block;
}
