.groups-container {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  margin: 10px 10px 10px 25px;
  padding: 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);

  min-height: 90vh;
}

.groups-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.group-item {
  background: rgba(255, 255, 255, 0.2);
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: auto;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

table {
  border-collapse: separate; /* обязательно */
  border-spacing: 13px; /* задаёт отступы между ячейками (как по горизонтали, так и по вертикали) */
}
.group-details {
  width: 100%;
}
.group-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.day-schedule {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.group-editor {
  width: 100%;
}
.group-editor-item {
  border: 1px solid #aaa;
  padding: 10px;
  margin-bottom: 10px;
}
.delete-lesson-btn {
  margin: 0;
  padding: 5px;
  border-radius: 15px;
  background: #ff3c38;
}
.delete-lesson-btn img {
  margin: 0;
  padding: 3px 3px 0 3px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: 3px solid #61a4fb;
  outline-offset: 2px;
}
.group-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  gap: 10px;
}
.delete-group-btn {
  background-color: #ff3c38;
  position: relative;

  border: none;
  cursor: pointer;
}

@media screen and (max-width: 590px) {
  .schedule-table {
    font-size: 14px;
  }
}
@media screen and (max-width: 475px) {
  .schedule-table {
    font-size: 12px;
  }
}
@media screen and (max-width: 430px) {
  .schedule-table {
    font-size: 10px;
  }
  .groups-container {
    padding-top: 0;
    margin-top: 0;
  }
}
@media screen and (max-width: 375px) {
  .schedule-table {
    font-size: 9px;
  }
  .groups-container {
    padding-top: 0;
    margin-top: 0;
  }
}
@media screen and (max-width: 325px) {
  .schedule-table {
    font-size: 7px;
  }
  .group-header {
    font-size: 16px;
  }
  .group-detail h3 {
    font-size: 14px;
    margin: 0;
  }
  .day-schedule h4 {
    font-size: 12px;
    margin: 3px 0 3px 0;
  }
  .groups-list h2 {
    font-size: 18px;
    margin: 1px;
  }
  .groups-container {
    padding-top: 0;
    margin-top: 0;
  }
}
