.sidebar-nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 40%;
  width: 80px;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 10px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  z-index: 999;

  transform: translateY(65%) translateX(-10px);
}

.sidebar-nav__item {
  display: flex;
  justify-content: center;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.sidebar-nav__item:hover {
  background-color: #ddd;
}

.sidebar-nav__item.active {
  background-color: #ccc;
}

.sidebar-icon {
  display: flex;
  width: 24px;
  height: 24px;
}

.sidebar-icon svg {
  width: 100%;
  height: 100%;
  fill: #333;
}
